@model Vlan

<h2>Crear VLAN</h2>

<form asp-action="Crear" method="post">
    <div class="form-group">
        <label asp-for="Nombre_Vlan"></label>
        <input asp-for="Nombre_Vlan" class="form-control" />
        <span asp-validation-for="Nombre_Vlan" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SubNet"></label>
        <input asp-for="SubNet" class="form-control" />
        <span asp-validation-for="SubNet" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gateway"></label>
        <input asp-for="Gateway" class="form-control" />
        <span asp-validation-for="Gateway" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DhcpIni"></label>
        <input asp-for="DhcpIni" class="form-control" />
        <span asp-validation-for="DhcpIni" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DhcpFin"></label>
        <input asp-for="DhcpFin" class="form-control" />
        <span asp-validation-for="DhcpFin" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Observaciones"></label>
        <input asp-for="Observaciones" class="form-control" />
        <span asp-validation-for="Observaciones" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>
