@model TipoEquipo

<h2>Crear Tipo de Equipo</h2>

<form asp-action="Crear" method="post">
    <label>Tipo de Equipo:</label>
    <input asp-for="Tipo_Equipo" />
    <button type="submit">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    
</form>
