@model TipoEquipo

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
<h2>Eliminar Tipo de Equipo</h2>

<p>¿Está seguro de que desea eliminar este tipo de equipo?</p>

<form asp-action="Eliminar" method="post">
    <input type="hidden" asp-for="ID_tipo_equipo" />
    <button type="submit">Eliminar</button>
    <a asp-action="Index"  class="btn btn-secondary">Cancelar</a>
</form>
