@model Radio

<h2>Eliminar Radio</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form asp-action="Eliminar" method="post">
    <input type="hidden" asp-for="ID_Radio" />

    <div class="form-group">
        <label>Seguro que quieres eliminar?</label>
        
    </div>
    
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
