@{
    Layout = null;
    ViewData["Title"] = "Acceso Denegado";
}
<div class="access-denied">
    <h1>
        <i class="fa-solid fa-eye"></i>
    </h1>
    <h1>Acceso Denegado</h1>
    <p>No tienes permisos para acceder a esta página.</p>
    <div class="glitch" data-text="DENEGADO">DENEGADO</div>
</div>
<link rel="stylesheet" href="~/css/accessDenied.css" />
@if (User.IsInRole("Admin"))
{
        <a href="/Admin/Index">Panel de Administración</a>
}
