@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- BOOTSTRAP -->
    <link href="/lib/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Referencia a tu archivo CSS personalizado -->
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body class="text-center">
    <form class="form-signin" method="post">
        <h2>
            <img src="~/img/Logo-Aura-Minerals.png" alt="Logo" style="width: 150px; height: auto;" />
        </h2>
        <input type="text" id="Nombre_Usuario" class="form-control" placeholder="Ingresa tu usuario" required autofocus name="Nombre_Usuario">
        <input type="password" id="Contrasena" class="form-control" placeholder="Ingresa tu contraseña" required name="Contrasena">
        <button class="btn btn-outline-light" type="submit" style="background-color: #ff624c;">
            <img src="~/icons/fingerprint-solid-w.svg" style="width: 16px; height: 16px;"> Iniciar Sesión
        </button>

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger mt-3">@ViewBag.Error</div>
        }
        <p class="mt-5 mb-3 text-muted"><img src="~/icons/eye-solid.svg" style="width: 16px; height: 16px;"> NetGuardião</p>
    </form>

    <!-- Referencia a jQuery y Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>