@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="netGuardian" class="animated-text">NetGuardião</h1>
    @* <div class="bg">
        <img src="~/img/network.jpg" alt="Logo" />
    </div> *@
    <div id="container"></div>
    
</div>
<style>
    .animated-text {
        font-size: 4rem; /* Ajusta el tamaño según tus necesidades */
        font-weight: bold;
        color: #273970;
        animation: fadeInUp 2s ease-in-out;
    }
    .bg{
        width:max-content;
        margin: 0 auto;
        padding : 0;
    }
    @@keyframes fadeInUp {
        0%
    {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

    }
</style>

@* style="width: 400px; height: auto; " *@


@* --------------------------------------- *@
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js">
</script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<style>
    /* Esta funcion me permite que la pagina no se baje a la hora de recargarla varias veces */
    window.onload = function () {
        window .scrollTo(0, 0);
        // Mueve el scroll al inicio
    }

    ;
    #container {
        min-width: 320px;
        max-width: 800px;
        height: 500px;
        margin: 1em auto;
        overflow: hidden; /* Evitar contenido que sobresalga */
        position: relative; /* Evitar problemas de scroll */
    }

    .animated-line {
        stroke-dasharray: 8;
        stroke-dashoffset: 10;
        animation: dash 5s linear infinite;
    }

    @@keyframes dash {
        from {
            stroke-dashoffset: 100;
        }

        to {
            stroke-dashoffset: 20;
        }
    }
</style>


@* Este es el script del grafico del inicio, Mapa mundia *@
<script>
    (async () => {
        const topology = await fetch(
            'https://code.highcharts.com/mapdata/custom/world-highres.topo.json'
        ).then(response => response.json());

        const data = [
            {
                'hc-key': 'ye',
                color: '#ffa500',
                info: 'Yemen is where coffee took off.'
            },
            {
                'hc-key': 'br',
                color: '#c0ffd5',
                info: 'Coffee came from La Reunion.'
            },
            {
                'hc-key': 'fr',
                color: '#c0ffd5',
                info: 'Coffee came from Java.'
            },
            {
                'hc-key': 'gb',
                color: '#c0ffd5',
                info: 'Coffee came from Java.'
            },
            {
                'hc-key': 'id',
                color: '#c0ffd5',
                info: 'Coffee came from Yemen.'
            },
            {
                'hc-key': 'nl',
                color: '#c0ffd5',
                info: 'Coffee came from Java.'
            },
            {
                'hc-key': 'gu',
                color: '#c0ffd5',
                info: 'Coffee came from France.'
            },
            {
                'hc-key': 're',
                color: '#c0ffd5',
                info: 'Coffee came from Yemen.'
            },
            {
                'hc-key': 'in',
                color: '#c0ffd5',
                info: 'Coffee came from Yemen.'
            }
        ];

        // Inicializacion del chart
        Highcharts.mapChart('container', {
            chart: {
                map: topology
            },

            title: {
                // text: 'The history of the coffee bean ☕'
                text:''
            },
            legend: {
                enabled: false
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<b>{point.key}</b>:<br/>',
                pointFormat: '{point.info}'
            },

            mapView: {
                fitToGeometry: {
                    type: 'MultiPoint',
                    coordinates: [
                        // Alaska west
                        [-164, 54],
                        // Greenland north
                        [-35, 84],
                        // New Zealand east
                        [179, -38],
                        // Chile south
                        [-68, -55]
                    ]
                }
            },

            series: [
                {
                    data,
                    keys: ['hc-key', 'color', 'info'],
                    name: 'Coffee'
                },
                {
                    type: 'mapline',
                    data: [
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [48.516388, 15.552727], // Yemen
                                    [110.004444, -7.491667] // Java
                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        },

                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [-86.241905, 14.634915], // Honduras (aproximado)
                                    [-95.712891, 37.09024]  // Estados Unidos (centro aproximado)
                                ]
                            },
                            className: 'animated-line',
                            color: '#0000FF' // Azul para destacar
                        },


                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [48.516388, 15.552727], // Yemen
                                    [55.5325, -21.114444] // La reunion
                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        },
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [55.5325, -21.114444], // La reunion
                                    [-43.2, -22.9] // Brazil
                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        },
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [48.516388, 15.552727], // Yemen
                                    [78, 21] // India
                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        },
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [110.004444, -7.491667], // Java
                                    [4.9, 52.366667] // Amsterdam
                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        },
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [-3, 55], // UK
                                    [-61.030556, 14.681944] // Antilles
                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        },
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [2.352222, 48.856613], // Paris
                                    [-53, 4] // Guyane
                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        }
                    ],
                    lineWidth: 2,
                    enableMouseTracking: false
                },
                {
                    type: 'mappoint',
                    color: '#333',
                    dataLabels: {
                        format: '<b>{point.name}</b><br><span ' +
                            'style="font-weight: normal; opacity: 0.5">' +
                            '{point.custom.arrival}</span>',
                        align: 'left',
                        verticalAlign: 'middle'
                    },
                    data: [
                        {
                            name: 'Yemen',
                            geometry: {
                                type: 'Point',
                                coordinates: [48.516388, 15.552727] // Yemen
                            },
                            custom: {
                                arrival: 1414
                            },
                            dataLabels: {
                                align: 'right'
                            }
                        },
                        // Honduras
                        {
                            name: 'Honduras',
                            geometry: {
                                type: 'Point',
                                coordinates: [-86.241905, 14.634915] // Honduras (aproximado)
                            },
                            custom: {
                                arrival: 2024 // Año representativo o información adicional
                            },
                            dataLabels: {
                                align: 'left'
                            }
                        },
                        // Estados Unidos
                        {
                            name: 'United States',
                            geometry: {
                                type: 'Point',
                                coordinates: [-95.712891, 37.09024] // Estados Unidos (centro aproximado)
                            },
                            custom: {
                                arrival: 2024 // Año representativo o información adicional
                            },
                            dataLabels: {
                                align: 'left'
                            }
                        },




                        {
                            name: 'Java',
                            geometry: {
                                type: 'Point',
                                coordinates: [110.004444, -7.491667] // Java
                            },
                            custom: {
                                arrival: 1696
                            }
                        },
                        {
                            name: 'La Reunion',
                            geometry: {
                                type: 'Point',
                                coordinates: [55.5325, -21.114444] // La reunion
                            },
                            custom: {
                                arrival: 1708
                            }
                        },
                        {
                            name: 'Brazil',
                            geometry: {
                                type: 'Point',
                                coordinates: [-43.2, -22.9] // Brazil
                            },
                            custom: {
                                arrival: 1770
                            },
                            dataLabels: {
                                align: 'right'
                            }
                        },
                        {
                            name: 'India',
                            geometry: {
                                type: 'Point',
                                coordinates: [78, 21] // India
                            },
                            custom: {
                                arrival: 1670
                            }
                        },
                        {
                            name: 'Amsterdam',
                            geometry: {
                                type: 'Point',
                                coordinates: [4.9, 52.366667] // Amsterdam
                            },
                            custom: {
                                arrival: 1696
                            }
                        },
                        {
                            name: 'Antilles',
                            geometry: {
                                type: 'Point',
                                coordinates: [-61.030556, 14.681944] // Antilles
                            },
                            custom: {
                                arrival: 1714
                            },
                            dataLabels: {
                                align: 'right'
                            }
                        },
                        {
                            name: 'Guyane',
                            geometry: {
                                type: 'Point',
                                coordinates: [-53, 4] // Guyane
                            },
                            custom: {
                                arrival: 1714
                            },
                            dataLabels: {
                                align: 'right'
                            }
                        }
                    ],
                    enableMouseTracking: false
                }
            ]
        });
    })();

</script>
