<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js">
</script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<div id="container"></div>

<style>
    #container {
        min-width: 320px;
        max-width: 800px;
        height: 500px;
        margin: 1em auto;
    }

    .animated-line {
        stroke-dasharray: 8;
        stroke-dashoffset: 10;
        animation: dash 5s linear infinite;
    }

    @@keyframes dash {
        from

    {
        stroke-dashoffset: 100;
    }

    to {
        stroke-dashoffset: 20;
    }

    }
</style>

<div id="container" style="height: 600px; width: 100%;"></div>

<script>
    (async () => {
        // Cargar el mapa de Honduras
        const hondurasMap = await fetch(
            'https://code.highcharts.com/mapdata/countries/hn/hn-all.topo.json'
        ).then(response => response.json());

        // Datos de los departamentos
        const data = [
            {
                'hc-key': 'hn-fm', // Francisco Morazán
                color: '#ffa500',
                info: 'Francisco Morazán: Tegucigalpa, la capital de Honduras.'
            },
            {
                'hc-key': 'hn-at', // Atlántida
                color: '#c0ffd5',
                info: 'Atlántida: Famosa por sus playas y turismo.'
            },
            {
                'hc-key': 'hn-cp', // Copán
                color: '#c0ffd5',
                info: 'Copán: Hogar de las ruinas mayas.'
            },
            {
                'hc-key': 'hn-cl', // Choluteca
                color: '#c0ffd5',
                info: 'Choluteca: Conocida como la “ciudad del sol naciente”.'
            }
        ];

        // Crear el mapa
        Highcharts.mapChart('container', {
            chart: {
                map: hondurasMap
            },

            title: {
                text: 'Conexiones entre departamentos de Honduras'
            },

            legend: {
                enabled: false
            },

            tooltip: {
                useHTML: true,
                headerFormat: '<b>{point.name}</b><br/>',
                pointFormat: '{point.info}'
            },

            series: [
                // Datos de los departamentos
                {
                    data,
                    keys: ['hc-key', 'color', 'info'],
                    name: 'Departamentos'
                },
                // Líneas de conexión
                {
                    type: 'mapline',
                    name: 'Conexiones',
                    color: '#666',
                    dashStyle: 'ShortDot',
                    data: [
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [-87.2167, 14.0833], // Francisco Morazán
                                    [-88.8333, 15.3167]  // Atlántida
                                ]
                            }
                        },
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [-88.8333, 15.3167], // Atlántida
                                    [-89.1667, 14.8333]  // Copán
                                ]
                            }
                        },
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [-89.1667, 14.8333], // Copán
                                    [-87.3167, 13.3167]  // Choluteca
                                ]
                            }
                        },
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [-87.2167, 14.0833], // Francisco Morazán
                                    [-87.3167, 13.3167]  // Choluteca
                                ]
                            }
                        }
                    ]
                },
                // Puntos clave
                {
                    type: 'mappoint',
                    name: 'Departamentos destacados',
                    color: '#333',
                    dataLabels: {
                        format: '<b>{point.name}</b>',
                        align: 'left',
                        verticalAlign: 'middle'
                    },
                    data: [
                        {
                            name: 'Francisco Morazán',
                            geometry: {
                                type: 'Point',
                                coordinates: [-87.2167, 14.0833]
                            }
                        },
                        {
                            name: 'Atlántida',
                            geometry: {
                                type: 'Point',
                                coordinates: [-88.8333, 15.3167]
                            }
                        },
                        {
                            name: 'Copán',
                            geometry: {
                                type: 'Point',
                                coordinates: [-89.1667, 14.8333]
                            }
                        },
                        {
                            name: 'Choluteca',
                            geometry: {
                                type: 'Point',
                                coordinates: [-87.3167, 13.3167]
                            }
                        }
                    ]
                }
            ]
        });
    })();
</script>

