@{
    ViewData["Title"] = "Home Page";
}
<style>
    /* html,
    body{
        background-color: #273970;
    } */
</style>
<div class="text-center">
    <h2>
        <img src="~/img/mandala-es.png" alt="Logo" style="width: 400px; height: auto; " />
    </h2>
    @* <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> 
    "
    *@
</div>
