@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 id="netGuardian" class="animated-text">NetGuardião</h1>
    <div id="container"></div>
</div>

<link rel="stylesheet" href="~/css/homeMap.css">
@* Este es el script del grafico del inicio, Mapa mundial *@
<script>
    (async () => {
        const topology = await fetch(
            // este es el json de la data del mapa
            '/js/highcharts/maps/mapdata/world-highres.topo.json'
        ).then(response => response.json());

        const data = [
            {
                'hc-key': 'ye',
                color: '#c0ffd5',
                info: ''
            },
            {
                'hc-key': 'br',
                color: '#c0ffd5',
                info: ''
            },
            {
                'hc-key': 'br',
                color: '#c0ffd5',
                info: ''
            },
            {
                'hc-key': 'gb',
                color: '#c0ffd5',
                info: ''
            },
            {
                'hc-key': 'id',
                color: '#c0ffd5',
                info: ''
            },
            {
                'hc-key': 'nl',
                color: '#c0ffd5',
                info: ''
            },
            {
                'hc-key': 'gu',
                color: '#c0ffd5',
                info: ''
            },
            {
                'hc-key': 'hn',
                color: '#ffa500',
                info: ''
            },
            {
                'hc-key': 'us',
                color: '#c0ffd5',
                info: ''
            }
            ,
            {
                'hc-key': 'mx',
                color: '#c0ffd5',
                info: ''
            }
            ,
            {
                'hc-key': 'co',
                color: '#c0ffd5',
                info: ''
            }
            ,
            {
                'hc-key': 'mg',
                color: '#c0ffd5',
                info: ''
            }
            ,
            {
                'hc-key': 'ru',
                color: '#c0ffd5',
                info: ''
            }
            ,
            {
                'hc-key': 'cn',
                color: '#c0ffd5',
                info: ''
            }
        ];

        // Inicializacion del chart
        Highcharts.mapChart('container', {
            chart: {
                map: topology
            },

            title: {
                // text: 'The history of the coffee bean ☕'
                text:''
            },
            legend: {
                enabled: false
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<b>{point.key}</b>:<br/>',
                pointFormat: '{point.info}'
            },

            mapView: {
                fitToGeometry: {
                    type: 'MultiPoint',
                    coordinates: [
                        // Alaska west
                        [-164, 54],
                        // Greenland north
                        [-35, 84],
                        // New Zealand east
                        [179, -38],
                        // Chile south
                        [-68, -55]

                        //[-170, 70],  // Extremo noroeste (Alaska)
                        //[-35, -55],  // Extremo sureste (Chile)
                    ]
                }
            },

            series: [
                {
                    data,
                    keys: ['hc-key', 'color', 'info'],
                    name: 'Coffee'
                },
                {
                    type: 'mapline',
                    data: [
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [-46.633308, -23.550520], //  São Paulo, Brasil
                                   [47.5162, -18.8792] // Antananarivo, Madagascar
                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        },

                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [-86.241905, 14.634915], // Honduras (aproximado)
                                    [-80.191790, 25.761680] // Miami, Florida, EE.UU.
                                ]
                            },
                            className: 'animated-line',
                            color: '#0000FF' // Azul para destacar
                        },


                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [-80.191790, 25.761680], // Miami, Florida, EE.UU.
                                    [-75.607220, 5.298320] // Caldas, Colombia
                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        },
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [37.6173, 55.7558], // Moscú, Rusia
                                    [-56.097891, -12.681871] // Mato Grosso, Brasil
                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        },
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [48.516388, 15.552727], // Yemen
                                    [78, 21] // India
                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        },
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [110.004444, -7.491667], // Java
                                    [37.6173, 55.7558] // Moscú, Rusia
                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        },
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [-3, 55], // UK
                                    [-80.191790, 25.761680] // Miami, Florida, EE.UU.
                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        },
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [-102.583252, 22.770930], // Zacatecas, México
                                    //[-47.920574, -10.183197] // Greenstone Belt de Alma, Brasil (TO - Tocantins)
                                    [-80.191790, 25.761680] // Miami, Florida, EE.UU.

                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        },
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [48.516388, 15.552727], // Yemen
                                    [-47.920574, -10.183197] // Greenstone Belt de Alma, Brasil (TO - Tocantins)

                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        }
                        ,
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [116.4074, 39.9042], // Pekín, China
                                    [48.516388, 15.552727] // Yemen

                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        }
                        ,
                        {
                            geometry: {
                                type: 'LineString',
                                coordinates: [
                                    [116.4074, 39.9042], // Pekín, China
                                    [47.5162, -18.8792] // Antananarivo, Madagascar

                                ]
                            },
                            className: 'animated-line',
                            color: '#666'
                        }
                    ],
                    lineWidth: 2,
                    enableMouseTracking: false
                },
                {
                    type: 'mappoint',
                    color: '#333',
                    dataLabels: {
                        format: '<b>{point.name}</b><br><span ' +
                            'style="font-weight: normal; opacity: 0.5">' +
                            '{point.custom.arrival}</span>',
                        align: 'left',
                        verticalAlign: 'middle'
                    },
                    data: [
                        {
                            name: 'Yemen',
                            geometry: {
                                type: 'Point',
                                coordinates: [48.516388, 15.552727] // Yemen
                            },
                            custom: {
                                arrival: 1414
                            },
                            dataLabels: {
                                align: 'right'
                            }
                        },
                        // Honduras
                        {
                            name: 'Honduras',
                            geometry: {
                                type: 'Point',
                                coordinates: [-86.241905, 14.634915] // Honduras (aproximado)
                            },
                            custom: {
                                arrival: 2024 // Año representativo o información adicional
                            },
                            dataLabels: {
                                align: 'left'
                            }
                        },
                        // Estados Unidos
                        {
                            name: 'Miami, Florida, EE.UU',
                            geometry: {
                                type: 'Point',
                                coordinates: [-80.191790, 25.761680] // Estados Unidos (centro aproximado)
                            },
                            custom: {
                                arrival: 2024 // Año representativo o información adicional
                            },
                            dataLabels: {
                                align: 'left'
                            }
                        },
                        {
                            name: 'Zacatecas',
                            geometry: {
                                type: 'Point',
                                coordinates: [-102.583252, 22.770930] // Zacatecas, México
                            },
                            custom: {
                                arrival: 2024 // Año representativo o información adicional
                            },
                            dataLabels: {
                                align: 'left'
                            }
                        },
                        {
                            name: 'Java',
                            geometry: {
                                type: 'Point',
                                coordinates: [110.004444, -7.491667] // Java
                            },
                            custom: {
                                arrival: 1696
                            }
                        },
                        {
                            name: 'Moscú',
                            geometry: {
                                type: 'Point',
                                coordinates: [37.6173, 55.7558] // Moscú, Rusia
                            },
                            custom: {
                                arrival: 1708
                            }
                        },
                        {
                            name: 'Almas',
                            geometry: {
                                type: 'Point',
                                coordinates: [-47.920574, -10.183197] // Greenstone Belt de Alma, Brasil (TO - Tocantins)
                            },
                            custom: {
                                arrival: 1770
                            },
                            dataLabels: {
                                align: 'right'
                            }
                        },
                        {
                            name: 'São Paulo',
                            geometry: {
                                type: 'Point',
                                coordinates: [-46.633308, -23.550520] // São Paulo, Brasil
                            },
                            custom: {
                                arrival: 1770
                            },
                            dataLabels: {
                                align: 'right'
                            }
                        },
                        {
                            name: 'Mato Grosso',
                            geometry: {
                                type: 'Point',
                                coordinates: [-56.097891, -12.681871] // Mato Grosso, Brasil
                            },
                            custom: {
                                arrival: 1770
                            },
                            dataLabels: {
                                align: 'right'
                            }
                        },
                        {
                            name: 'India',
                            geometry: {
                                type: 'Point',
                                coordinates: [78, 21] // India
                            },
                            custom: {
                                arrival: 1670
                            }
                        },
                        {
                            name: 'Amsterdam',
                            geometry: {
                                type: 'Point',
                                coordinates: [4.9, 52.366667] // Amsterdam
                            },
                            custom: {
                                arrival: 1696
                            }
                        },
                        {
                            name: 'Caldas',
                            geometry: {
                                type: 'Point',
                                coordinates: [-75.607220, 5.298320] // Caldas, Colombia
                            },
                            custom: {
                                arrival: 1714
                            },
                            dataLabels: {
                                align: 'right'
                            }
                        },
                        {
                            name: 'Antananarivo',
                            geometry: {
                                type: 'Point',
                                coordinates: [47.5162, -18.8792] // Antananarivo, Madagascar
                            },
                            custom: {
                                arrival: 1714
                            },
                            dataLabels: {
                                align: 'right'
                            }
                        }
                        ,
                        {
                            name: 'Pekín',
                            geometry: {
                                type: 'Point',
                                coordinates: [116.4074, 39.9042] // Pekín, China
                            },
                            custom: {
                                arrival: 1714
                            },
                            dataLabels: {
                                align: 'right'
                            }
                        }
                    ],
                    enableMouseTracking: false
                }
            ]
        });
        

    })();

</script>
