@model Zona

<h2>Esta Seguro de Eliminar la Zona</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form asp-action="Eliminar" method="post">
    <input type="hidden" asp-for="ID_zona" />

    <div class="form-group">
        <label>Nombre de la Zona:</label>
        <input asp-for="Nombre_Zona" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Descripción:</label>
        <input asp-for="Descripcion_Zona" class="form-control" readonly />
    </div>
    <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Eliminar</button>
    <a asp-action="Index" class="btn btn-outline-secondary"><i class="fa-solid fa-triangle-exclamation"></i> Cancelar</a>
</form>
