@model Zona
<div class="container p-4 mb-5" style="max-width: 500px;">
    <h2 class="text-center text-danger mb-4">Eliminar Zona</h2>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger text-center">
            @ViewBag.Error
        </div>
    }

    <div class="mb-3 text-center">
        <p><strong>Nombre de la Zona:</strong> @Model.Nombre_Zona</p>
        <p><strong>Descripción:</strong> @Model.Descripcion_Zona</p>
    </div>

    <form asp-action="Eliminar" method="post">
        <input type="hidden" asp-for="ID_zona" />

        <div class="d-flex justify-content-center gap-3">
            <button type="submit" class="btn btn-danger px-4">
                <i class="bi bi-trash"></i> Eliminar
            </button>
            <a asp-action="Index" class="btn btn-secondary px-4">
                <i class="fa-solid fa-triangle-exclamation"></i> Cancelar
            </a>
        </div>
    </form>
</div>
