@model Destinatario


<div class="text-center">
    <h2>Editar Destinatario</h2>
</div>
<form asp-action="Editar" method="post" class="container" style="max-width: 500px;">
    <input type="hidden" asp-for="ID_destinatario" />

    <div class="form-group">
        <label asp-for="Nombre_Destinatario"></label>
        <input asp-for="Nombre_Destinatario" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Correo_Destinatario"></label>
        <input asp-for="Correo_Destinatario" type="email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Descripcion_Destinatario"></label>
        <input asp-for="Descripcion_Destinatario" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="id_alerta">Alerta</label>
        <select asp-for="id_alerta" class="form-control" asp-items="ViewBag.Alertas"></select>
    </div>
    <button type="submit" class="btn btn-primary m-2">Guardar Cambios</button>
    <a asp-action="Index" class="btn btn-secondary m-2">Cancelar</a>
</form>
