@model CorreoSettings

<h2>Configuración Actual de Correo</h2>
<table class="table">
    <tr>
        <th>Servidor SMTP</th>
        <td>@Model.SmtpServer</td>
    </tr>
    <tr>
        <th>Puerto SMTP</th>
        <td>@Model.SmtpPort</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.EmailFrom</td>
    </tr>
    <tr>
        <th>Contraseña</th>
        <td>********</td> <!-- Ocultamos la contraseña -->
    </tr>
</table>

<a asp-action="Editar" class="btn btn-primary">Editar Configuración</a>
