@model DireccionIp

<div class="container p-3 mb-5" style="width: 400px; height: 300px;">
    <h2 class=" text-center">Eliminar Dirección IP</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form asp-action="Eliminar" method="post">
    <input type="hidden" asp-for="ID_ip" />

    <div class="form-group">
        <label>IPV4:</label>
        <input asp-for="IPV4" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Estado:</label>
        <input asp-for="Estado" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>VLAN:</label>
        <input asp-for="Nombre_Vlan" class="form-control" readonly />
    </div>
    <div class=" text-center">
            <button type="submit" class="btn btn-danger m-2">Eliminar</button>
            <a asp-action="Index" class="btn btn-secondary m-2">Cancelar</a>
    </div>
    

</form>
</div>